
<div class="wrapper">
	<div class="header">
		<div class="navi">
			<div class="logo">Logo - UI 개발 가이드</div>
			<div class="navbar">
				<div class="navbar-nav">Nav</div>
				<div class="navbar-nav navbar-right"></div>
			</div>		
		</div>
		<div class="user">
			<div>User</div>
			
		</div>
	</div>
	
	<div class="main">
		<div class="left-sidebar">
			<div id="left">
				fsdfdsdsdfs<br>
				dffds<br>
				<br><br>
				<br><br>
				dfsddfs<br>
				dfdsdfs<br>
			</div>
		</div>
		<div class="center">
			<div class="breadcrumbs"></div>
    		<div class="content">
    			fsdfdsdsdfs<br>
				dffds<br>
				<br><br>
				<br><br>
				dfsddfs<br>
				dfdsdfs<br>
    		
    		</div>
		</div>
	</div>
	
<!-- 	<div class="footer">Footer</div> -->
</div>